.envrc.local
job-logs.txt
out
dist
node_modules
result
.cache/
.direnv/
.vscode-test/
*.vsix

# Devenv
.devcontainer.json
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
